@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');


* {
  box-sizing: border-box;
  font-family: Asap, sans-serif;
  margin: 0;
  padding: 0;
  transition: all .35s ease-in-out;
}

a {
  color: black;
  text-decoration: none;
}

header {
  background: #1A5470;
  height: 10vh;
  padding: 10px;
}

h1 {
  color: white;
}

header .wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: auto;
  width: 70vw;
}

.wrapper nav {
  flex-basis: 80%;
  text-align: right;
}

.wrapper nav a {
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  margin-right: 5px;
  padding: 8px;
}

.wrapper nav a:hover, .wrapper nav a:active {
  border-bottom: 2px solid #259AD1;
  color: #E6890A;
}

section {
  background: #E3E3DE;
  display: flex;
  text-align: center;
}

main {
  flex-basis: 15%;
  padding-top: 5px;
}

article {
  background: #F5EE13;
  border-left: 10px solid #1A5470;
  border-right: 10px solid #259AD1;
  color: black;
  flex-basis: 70%;
  padding: 5px;
}

article h1 {
  color: dimgrey;
  font-size: 1.3em;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 10px;
  position: relative;
}

article h1::after {
  background: #259AD1;
  bottom: -20px;
  content: "";
  height: 3px;
  left: 42%;
  position: absolute;
  width: 150px;
}

section article form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  margin-bottom: 10px;
  text-align: left;
  width: 20%
}

section article div {
  margin-top: 10px;
  padding: 10px;
}

section article div img {
  border: 5px solid #333;
  height: 150px;
  width: 200px;
}

form input {
  border: 0;
  margin: 8px 0;
  padding: 6px;
}

form input[type=button] {
  background: #1F618D;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}

form input[type=button]:hover {
  background: #154360;
}

aside {
  flex-basis: 15%;
  padding-top: 5px;
}

footer {
  background: #1A5470;
  color: white;
  font-size: .8em;
  letter-spacing: 2px;
  padding: 20px;
  text-align: center;
}
