* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #333;
}

header {
  background: #fff;
  color: #333;
  text-align: center;
  padding: 15px;
}

main {
  border: 4px solid #fff;
  border-radius: 4px;
  color: #fff;
  font-size: 45px;
  margin: 40px auto;
  padding: 15px 20px;
  position: relative;
  text-align: center;
  width: 200px;
}

.badge {
  background: tomato;
  border-radius: 2px;
  font-size: 18px;
  padding: 2px 4px;
  position: absolute;
  top: 30%;
}

#user {
  left: -25px;
}

#comp {
  right: -30px;
}

section {
  color: aliceblue;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.options {
  margin-top: 50px;
  text-align: center;
}

.option {
  border: 4px solid #fff;
  border-radius: 50%;
  display: inline-block;
  height: 140px;
  margin: 0 20px;
  overflow: hidden;
  padding: 10px;
  transition: all .35s ease-in-out;
  width: 140px;
}
.option:hover {
  background: #222;
  cursor: pointer;
}
.option img {
  width: 100%;
  height: 100%;
}

#action-message {
  color: aliceblue;
  font-size: 22px;
  margin-top: 50px;
  text-align: center;
}

.green-glow {
  border: 4px solid #24A111;
  box-shadow: 0 0 10px #0F8305;
}

.red-glow {
  border: 4px solid #E51313;
  box-shadow: 0 0 10px #A51313;
}

.grey-glow {
  border: 4px solid #BFBCBC;
  box-shadow: 0 0 10px #868383;
}
